.App {
    text-align: center;
  }
  
  
.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1em;
}

.App-link {
    color: #61dafb;
}

.InventoryList {
    border: 2px solid black;
    width: 20%;
    list-style: none;
}

#inventory {
    font-size: 2em;
}

.data {
    display: flex;
    flex-direction: row;
    gap:2em;
    padding: 5em 1em;
}

.App-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

.App-footer ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    list-style: none;
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
