* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

main {
  flex:1;
}

.content h1 {
    margin: 3rem 0;
    padding: 0;
    font-size: 5em;
}

.content h2 {
    margin: 2rem 0;
    padding: 0;
    font-size: 3em;
}

.content p {
    font-size: 1.5em;
}

.about {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding: 2em;
    line-height: 3em;
}

.pic img{
    height: 15em;
    width: 15em;
}

.info {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding: 2em;
    line-height: 3em;
}

.draggables {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .draggable {
    width: 100px;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    background-color: orange;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .draggable:hover {
    background-color: orangered;
  }
  
  .draggable.dragging {
    border: 2px dashed white;
    opacity: 0.1;
  }
  
  .dropzone {
    margin: 7rem 25rem;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px dashed #ccc;
  }