* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

main {
  flex:1;
}

.section-slideshow {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding: 2em;
    line-height: 3em;
}

.my-slideshow {
  max-width: 100%;
  margin: auto;
}


.previous, .next {
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 0;
}

.previous:hover, .next:hover {
  color: black;
}

.text {
  display: inline-block;
  font-size: 25px;
}

/* Drag & Drop API */

.info {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding: 2em;
    line-height: 3em;
}

.draggables {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .draggable {
    width: 100px;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    background-color: orange;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .draggable:hover {
    background-color: orangered;
  }
  
  .draggable.dragging {
    border: 2px dashed white;
    opacity: 0.1;
  }
  
  .dropzone {
    margin: auto;
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 2px dashed #ccc;
  }
  
  .section-drag h2{
    text-align: center;
    margin-top: .7em;
  }
  
  .section-drag h3{
    text-align: center;
    margin-top: 1em;
  }

  @media only screen and (max-width: 500px) {
    .content h1 {
      margin: 3rem 0;
      padding: 0;
      font-size: 3em;
    }

    .dropzone {
      margin: 4rem 8rem;
    }


  }