/* CSS styling of form elements, manipulating fonts, display, layout, etc.*/
* {
    box-sizing: border-box;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url('https://virajpatel115.github.io/CS601_FinalProject_Patel/Contact/background.jpg');
    background-size: contain;
}

form {
    margin: auto;
    width: 25em;
    padding: 3em;
    background-color: lightseagreen;
    justify-content: center;
    text-align: center;
}

#title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5rem;
}

.row {
    padding: 1em;
    font-size: 1.2em;
}

.row.error p {
    color:red;
    visibility: visible;
    font-size: 15px;
}

#success p {
    font-size: 4px;
    padding-bottom: 2px;
}

#success {
    background-color: lightseagreen;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 400px;
    padding: 2em;
}

@media only screen and (max-width: 550px) {
    form {
        width: 18em;
    }

    #title {
        font-size: 1em;
    }

    .row {
        font-size: .8em;
    }
}