/* CSS styling of form elements, manipulating fonts, display, layout, etc.*/
* {
    box-sizing: border-box;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url('https://virajpatel115.github.io/CS601_FinalProject_Patel/Contact/background.jpg');
    background-size: 300px;
}

.my-form {
    background-color: white;
    padding: 2em;
    text-align: center;
    margin: 10em auto;
}

.sub {
    font-size: 12px;
    justify-content: center;
    text-align: center;
    width: 25em;
    padding: 2em;
    margin-bottom: 30px;
}

form {
    background: lightgrey;
    border-radius: 5px;
    width: 25em;
    padding: 3em;
}

.row.error p {
    color:red;
    visibility: visible;
    font-size: 12px;
}

.row.success p {
    font-size: 4px;
    padding-bottom: 2px;
    visibility: hidden;
}

#success {
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 400px;
}
