/* CSS styling of form elements, manipulating fonts, display, layout, etc.*/

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: lightgrey;
}

.container {
    padding: 2em;
    text-align: center;
    margin: 0 auto;
}

.sub {
    background-color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

form {
    background: white;
    border-radius: 5px;
    width: 400px;
    padding: 25px;
}

.row.error p {
    color:red;
    visibility: visible;
    font-size: 12px;
}

.row.success p {
    font-size: 4px;
    padding-bottom: 2px;
    visibility: hidden;
}

#success {
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 400px;
}
