* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* START OF BODY */
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    padding: 4rem;
    text-align: center;
}

.skills-page {
    padding: 2em;
    background-color: aliceblue;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}