* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* START OF BODY */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: lightgrey;
}

#app {
  height: 100vh;
  width: 100%;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px 0;
  list-style-type: none;
}
.card:hover {
  background: #eee;
}
.container {
  background-color: lightseagreen;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}