* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* START OF BODY */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: lightgrey;
}

h1 {
  text-align: center;
  margin-top: .5em;
}

h2{
  margin-top: .5em;
  line-height: .5em;
}

h3{
  line-height: .5em;
}

p {
  line-height: .5em;
}

#app {
  flex: 1;
  background-color: lightgrey;
  height: 100vh;
  width: 100%;
}

.card {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px 0;
  list-style-type: none;
}
.card:hover {
  background: #eee;
}
.app-container {
  background-color: lightseagreen;
  justify-content: center;
  margin: 5em auto;
  max-width: 60em;
  padding: 1em 1em;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}